@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

*{ /*aplica em todos os elementos*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{ /*aplica um estilo especifico no body e html*/
    width: 100%;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}

header{ /*aplica um estilo ao cabeçalho*/
    position: fixed; /*o cabeçalho vai ficar fixo, mesmo quando a pagina for rolada*/
    height: 95px;
    width: 100%; /*cabeçalho vai ocupar toda a largura da janela do navegador*/
    background-color: #2F2E2E; /* cor do fundo do cabeçalho*/
    z-index: 1;/*faz com que o cabeçalho fique sobreposto aos outros elementos da pagina*/
}

.container{
    width: 100%;
    padding: 1.5rem 3rem;/*1.5rem define o preenchimento superior e inferior e 3rem p/ direita e esquerda*/
}

header > .container { /*seleciona todos os elementos que possuem classe container e sao filhos de header*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{ /*seleciona todos os elementos ul que estao dentro de nav que estao dentro de header*/
    list-style: none; /*remove os marcadores da lista */
}

header a{ /*seleciona todos os elementos a que que estao dentro de header*/
    color: white;
    text-decoration: none; /*remove o sublinhado do link*/
    font-size: 20px; 
}

header .container nav ul { /*seleciona todos os elementos ul que estao dentro de nav que possuem a classe container que esta dentro de header*/
    display: flex; /*define que todos os elementos ul terao um display flex(que permite que sejam organizados)*/
}

header .container nav ul li {
    margin-right: 40px; /* adiciona um espaçamento entre os itens */
}

header h2 > a > span:nth-child(1){ /*seleciona o primeiro span que é filho de a que é filho de h2 que esta dentro de header*/
    color:green;
}

header h2 > a > span:nth-child(2){
    color: white;
}

header h2 > a > span:nth-child(3){
    color: red;
}

header h2 > a > span:nth-child(4){
    color: yellow;
}

header nav ul li a:hover{ /*adiciona uma açao ao link <a>  */
    color: gray;
}

#btn-contact{ /*cria uma classe para o botao de contato*/
    padding: .5rem 2rem;
    font-weight: bold; 
    font-size: 18px;
    color: white;
    border: 2px solid gray;
    border-radius: 999px;
    background-color: gray;
}

#btn-contact:hover{ /*adiciona uma açao ao botao de contato*/
    transition: all .2s ease-in-out; /**define uma transiçao para todas as propriedades que foram alteradas*/
    transform: scale(1.05); /*quando o mouse passa por cima do botao de contato ele aumenta em 5% do tamanho original*/
    color: gray;
    background-color: #fff;
}

.flex {
    display: flex;
    justify-content: center; /*alinha os elementos horizontalmente */
    align-items: center; /*alinha os elementos verticalmente*/
}

section { /*aplica as propriedades as todas as sections do html*/
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.background-section1 {
    background-image: url('/images/ferrari.jpg'); /*adiciona a imagem como fundo da section*/
    background-size: cover; /*define que a imagem cubra completamente o elemento */
    background-position: bottom; /*define a posiçao da imagem dentro da section*/
}

#home-title {
    color: white;
    font-size: 75px;
    font-weight: 400;
    text-align: center;
}

#home-subtitle {
    color: white;
    font-size: 35px;
    letter-spacing: 15px;
    text-align: center;
}

.background-section2 {
    background-color: #D3D3D3; 
}

.div-we {
    width: 700px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /*cria um sombreamento ao redor da div*/
    
}

#we-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 15px 0px 10px 0px;
}

.div-we > p { /*para todos os paragrafos filhos da classe div-we*/
    text-align: center;
    font-size: 18px;
    margin: 0px 80px 0px 80px;
}

.separator {
    margin: 10px 0px 25px 325px;
    border: 3px solid black;
    width: 50px;

}

.background-section3 {
    display: flex;
    flex-direction: column; /*os elementos serao alinhados verticalmente um abaixo do outro*/
    background-color:#4F4F4F;
}

section:nth-child(3) > div:nth-child(1) { /*para a primeira div filha da terceira section*/
    width: 1280px; /*largura*/
    font-size: 40px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: white;

}

.content {
    display: flex;
    justify-content: space-between; /*alinha os elementos filhos da classe horizontalmente um atras do outro*/

}

.box{
    width: 400px;
    height: 550px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.box h2 { /*adiciona um estilo a todos os h2 dentro da classe box*/
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;

}

.box p{
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 10px 5px 5px 5px;

}

.box img {
    width: 300px;
    margin: 20px;
    border-radius: 5px
    
}

.more-button {
    padding: 12px;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    width: 75%;
    height: 50px;
    color: white;
    background-color: 	#00BFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 99px;
}

.more-button a {
    text-decoration: none;
    color: inherit; /*tira a cor padrao do link*/
}

.more-button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    color: #00BFFF;
    background-color: #fff;
}

.background-section4{
    background-color: #DCDCDC;
}

.box-contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 550px;
    height: 600px;
    

}   

.box-contact-container div:nth-child(1) { /*adiciona um estilo a primeira div filha da classe*/
    top: 100px;
    width: 500px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.box-contact-container div:nth-child(1) p {
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.box-contact-container div:nth-child(1) > span {
    display: inline-block;
    border: 2px solid black;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 190px;

}

.box-contact {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 450px;
    height: 390px;
    margin-bottom: 10px;

}

.box-contact > p {
    font-size: 20px;
    margin: 10px;
}

.footer {
    margin-top: auto;
    margin-left: 130px;
    padding: 10px;
}

.footer a {
    text-decoration: none;
    color: inherit;
    margin: 5px;
}

.fa-instagram, .fa-whatsapp, .fa-facebook{ /*define o tamanho dos icones*/
    font-size: 35px;
}